<% content_for :employees do %>
active
<% end %>

<!-- information start -->
<div class="row d-flex justify-content-center">
    <div class="col-md-7 col-12 ">
        <div class="card">
            <div class="card-header">
                <div class="card-title mb-2">About
                    <% if @employee.avatar.attached? %>
                    <% begin %>
                    <%= image_tag @employee.avatar.variant(resize: "100x100!"), class: "round" %>
                    <% rescue ActiveStorage::InvariableError => e %>
                    <% puts "Rescued: #{e.inspect}" %>
                    <img class="round" src="/app-assets/images/ico/avatar.jpeg" alt="avatar" height="100"
                        width="100"></span>
                    <% end %>
                    <% else %>
                    <img class="round" src="/app-assets/images/ico/avatar.jpeg" alt="avatar" height="100"
                        width="100"></span>
                    <% end %>
                </div>
            </div>
            <div class="card-body">
                <div class="card-text">

                    <dl class="row">
                        <dt class="col-sm-3 text-right">Name:</dt>
                        <dd class="col-sm-9"> <%= @employee.name %></dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-3 text-right">Department:</dt>
                        <dd class="col-sm-9"> <%= @employee.department %></dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-3 text-right">Status:</dt>
                        <dd class="col-sm-9"> <%= @employee.status %></dd>
                    </dl>
                </div>
                <div class="flex items-center justify-start mt-6">
                    <%= link_to 'Edit' , edit_employee_path(@employee), class: "btn btn-default mr-4" %>
                    <%= link_to 'Back' , employees_path, class: "btn btn-default" %>
                </div>
            </div>
        </div>
    </div>
</div>